.Home {
  *::-webkit-media-controls-start-playback-button {
    display: none !important;

    -webkit-appearance: none;
  }
  video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("sfondo-sito1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__loader {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: black;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      &__none {
        display: none;
      }
    }
  }
}
.Active {
  opacity: 1;
}
.Disabled {
  opacity: 0.5;
}
