.Mediaplayer {
  &__container {
    position: relative;
    width: 350px;
    height: 70px;
    background-color: rgba(202, 196, 196, 0.233);
    border-radius: 50px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    @media screen and (max-width: 768px) {
      margin: 30px 0px 0px 20px;
      width: 90%;
      height: 50px;
    }
    & audio {
      position: relative;
      width: 95%;
    @media screen and (max-width: 768px) {
        height: 80%;
        width: 98%;
    }
    }
  }
}
